/* The below CSS code is got from figma (menu) */
.menu-box {
/* Group 774 */
/* position: absolute; 
width: 1920px;
height: 130px;
left: 0px;
top: 0px;*/
background: linear-gradient(270deg, #F3EEE8 0%, #EBEDF5 100%);
}

/* Group 702 */
.logo_top {

width: 261px;
height: 63.65px;
left: 196px;
top: 33px;
}

/* Frame */
.frame_logo {
    position: absolute;
    width: 261px;
    height: 63.65px;
    left: 196px;
    top: 33px;
}